<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447854410903-v4uqmhjroivtq8mt8euqfc61efbu3tcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447854410903-v4uqmhjroivtq8mt8euqfc61efbu3tcu</string>
	<key>API_KEY</key>
	<string>AIzaSyBTuZi-YMZTwTqF5dhFs35MNHP-b7c9L_k</string>
	<key>GCM_SENDER_ID</key>
	<string>447854410903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kfit.app</string>
	<key>PROJECT_ID</key>
	<string>kfitapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kfitapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447854410903:ios:3c7bfd7123fea416297dd2</string>
</dict>
</plist>